<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <!--开启注解模式扫描controller包-->
    <context:component-scan base-package="com">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--配置视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--视图解析前缀-->
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <!--视图解析前缀后缀-->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--设置静态代码不过滤-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!--开启springmvc注解支持-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 文件上传 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/><!-- 默认编码ISO-8859-1 -->
        <property name="maxInMemorySize" value="10240"/><!-- 最大内存 10M -->
        <property name="uploadTempDir" value="/images/" /><!-- 上传的文件夹名字 -->
        <property name="maxUploadSize" value="-1" /><!-- 最大文件，-1不限制 -->
    </bean>

</beans>